data/flashrank_cache
data/raw_pdfs/*
data/chroma_db/
data/documents/
data/models
data/*.json
data/*.jsonl
credentials.json
src/__pycache__
node_modules
package-lock.json
package.json
.venv/
*.pdf

fabrciodias