# Ambientes Virtuais
.venv/
venv/
env/

# Chaves e Segredos
.env
.env.local
*.pem

# Python Cache e Logs
__pycache__/
data/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.log

# Arquivos de Sistema e Editor
node_modules/
.vscode/
.idea/
.DS_Store